my-buddy.tech, www.my-buddy.tech, https://my-buddy.tech, http://my-buddy.tech {
    handle /static/* {
        rootgit /root/My-Buddy/Cloud\ Server
        file_server
    }
    
    reverse_proxy 127.0.0.1:8000
}